<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Comentários</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

  <div class="card-header">
    <h1>Comentário</h1>
  </div>
  <div class="card-body">
    <form method="POST" action="/new" id="form">
      <textarea name="comentario" id="comentario" class="form-control"></textarea><br>
      <button type="submit" class="btn btn-primary">Cadastrar</button>
    </form>
  </div>


  <div class="card-header">
    <h1>Comentários</h1>
    <% comentarios.forEach(comentario=> { %>
      <div class="card-header">
        <div class="card-body">
          <p>
            <%= comentario.comentario %>
          </p>
          <button class="btn btn-primary">Ouvir</button>
        </div>
      </div>
      <% }) %>

</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
<script src="/js/bootstrap.min.js"></script>

</html>